/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styling */
:root {
    --text-margin: 5vw;
}

body {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
}

.left-panel {
    flex: 1 0 40%;
    background-image: url("ocean.jpg");
    background-position:left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel {
    flex: 1 0 60%;
}

.user-input-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(200, 233, 255);
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.3);
}

.form-row {
    display: flex;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px var(--text-margin);
}

.title-card {
    background: rgba(0, 0, 0, 0.65);
    padding: 100px;
    display: flex;
    align-items: center;
    color: white;
}

.title-card > svg {
    height: 10vw;
    color: white;
}

.title-card > p {
    font-size: 5vw; 
    margin-left: 1vw;
}

label {
    margin: 0px 0px 5px;
}

button {
    background-color: green;
    color: white;
    font-size:x-large;
    margin: 0px 0px 10px;
}

.user-submission-section {
    margin: 20px 20px 20px var(--text-margin);
}

h2 {
    font-size: 2.5rem;
    Line-height: 1.25;
}

h3 {
    font-size: 1.6rem;
    line-height: 1.20;
}

.log-in-line {
    margin: 1vh 0 0 0;
}

.h2-text {
    margin: 0px 10vw 2vh var(--text-margin);
}

.header-text {
    margin: 15vh 10vw 2vh var(--text-margin);
}

/* label, input {
    display:block;
    margin: max(2vw, 1vh);
} */

.check {
    color: purple;
    font-weight: bold;
}

.check-pass {
    color: rgb(0, 124, 128);
    font-weight: bold;
}

.confirm-password-invalid {
    margin-top: 10px;
    color: purple;
}

.password-invalid {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.invalid-input {
    background-color: rgb(255, 226, 226)
}

#invalid-email {
    margin-top: 5px;
}